.App-header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  background:#e9e9eb ;
  /* color:white; */
}
.logo{
  font-size: larger;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}
.navContainer{
  padding-right: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.navigation{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:5px;
  margin-left: 10px;
  font-size: 1.3em;
  color: black;
  border-radius: 10px;
}

.navigation:hover{
  background-color: white;
  transition: all 0.5s;
}